<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KLMainViewController</key>
	<dict>
		<key>KLLogTrackedEvents</key>
		<array>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_AddPhotosToDrawBox</string>
				<key>KLLogEventSelectorName</key>
				<string>addPhotosToDrawBox:</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_SwitchDrawMode</string>
				<key>KLLogEventSelectorName</key>
				<string>switchDrawMode:</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_ReloadDrawBox</string>
				<key>KLLogEventSelectorName</key>
				<string>reloadDrawBox:</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_MoreDrawBoxes</string>
				<key>KLLogEventSelectorName</key>
				<string>showMoreDrawBoxes:</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_StartDraw</string>
				<key>KLLogEventSelectorName</key>
				<string>startDraw:</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_StopDraw</string>
				<key>KLLogEventSelectorName</key>
				<string>stopDraw:</string>
			</dict>
		</array>
	</dict>
	<key>KLWinnerViewController</key>
	<dict>
		<key>KLLogTrackedEvents</key>
		<array>
			<dict>
				<key>KLLogEventName</key>
				<string>WinnerVC_ClickTopAdBanner</string>
				<key>KLLogEventSelectorName</key>
				<string>clickTopAdBanner</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>WinnerVC_ClickBottomAdBanner</string>
				<key>KLLogEventSelectorName</key>
				<string>clickBottomAdBanner</string>
			</dict>
		</array>
	</dict>
	<key>KLImagePickerController</key>
	<dict>
		<key>KLLogTrackedEvents</key>
		<array>
			<dict>
				<key>KLLogEventName</key>
				<string>AlbumVC_DonePhotoSelection</string>
				<key>KLLogEventSelectorName</key>
				<string>donePhotoSelection:</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>AlbumVC_CloseAlbum</string>
				<key>KLLogEventSelectorName</key>
				<string>closeAlbum:</string>
			</dict>
		</array>
	</dict>
	<key>KLMoreViewController</key>
	<dict>
		<key>KLLogTrackedEvents</key>
		<array>
			<dict>
				<key>KLLogEventName</key>
				<string>MoreVC_CloseMoreDrawBoxes</string>
				<key>KLLogEventSelectorName</key>
				<string>closeMoreDrawBoxes:</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
