<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KLMainViewController</key>
	<dict>
		<key>KLLogTrackedEvents</key>
		<array>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_AddPhotosToDrawPool</string>
				<key>KLLogEventSelectorName</key>
				<string>addPhotosToDrawPool:</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_ReloadDrawPool</string>
				<key>KLLogEventSelectorName</key>
				<string>reloadDrawPool:</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_MoreDrawPools</string>
				<key>KLLogEventSelectorName</key>
				<string>showMoreDrawPools:</string>
			</dict>
		</array>
	</dict>
	<key>KLDrawPoolViewController</key>
	<dict>
		<key>KLLogTrackedEvents</key>
		<array>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_ShakeToStart</string>
				<key>KLLogEventSelectorName</key>
				<string>shakeToStart:</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_StartDraw</string>
				<key>KLLogEventSelectorName</key>
				<string>startDraw:</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_StopDraw</string>
				<key>KLLogEventSelectorName</key>
				<string>stopDraw:</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>MainVC_SwitchDrawMode</string>
				<key>KLLogEventSelectorName</key>
				<string>switchDrawMode:</string>
			</dict>
		</array>
	</dict>
	<key>KLImagePickerController</key>
	<dict>
		<key>KLLogTrackedEvents</key>
		<array>
			<dict>
				<key>KLLogEventName</key>
				<string>AlbumVC_DonePhotoSelection</string>
				<key>KLLogEventSelectorName</key>
				<string>donePhotoSelection:</string>
			</dict>
			<dict>
				<key>KLLogEventName</key>
				<string>AlbumVC_CloseAlbum</string>
				<key>KLLogEventSelectorName</key>
				<string>closeAlbum:</string>
			</dict>
		</array>
	</dict>
	<key>KLMoreViewController</key>
	<dict>
		<key>KLLogTrackedEvents</key>
		<array>
			<dict>
				<key>KLLogEventName</key>
				<string>MoreVC_CloseMoreDrawPools</string>
				<key>KLLogEventSelectorName</key>
				<string>closeMoreDrawPools:</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
